@import '/src/CSS/login.css';
@import '/src/CSS/productList.css';
@import '/src/CSS/productForm.css';
@import '/src/CSS/userInfo.css';

body{
  background-color: #DDD;
  color: rgba(0, 0, 0, 0.7);

  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
/*

#root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  color-scheme: light dark;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: .8em;
}

.container-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  
  .headers{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    background-color: #555;
    color: #fff;
    padding: .8em .8em;
    font-size: 1em;
    border-radius: 8px;
    border: 2px solid #777;
    box-shadow: 0 0 5px #ccc;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #999;
      color: #242424;
    }
  }
  .gr {
    background-color: rgb(20, 80, 20);
  }
  .cancel {
    background-color: rgb(96, 33, 33);
  }

  
  & table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    & thead {
      & tr {
        font-size: .8em;
        background-color: #333;
        box-shadow: 0 0 5px #ccc;
      }
    }
    & tbody {
      & tr {
        padding: 10px;
        background-color: transparent;
        transition: all 0.5s;
        &:nth-child(even) {
          background-color: #333;
        }

        &:hover {
          background-color: #444;
          transition: all 0.5s;
        }
        & td {
          margin: 10px 0;
          text-transform: capitalize;
        }
      }
    }
  }
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.create-form{
  display: flex;
  flex-direction: column;
 gap: 10px;
  & div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    & label{
      flex: 1 0 120px;
      
    }
    & input{
      flex: 1 0 140px;
      font-size: 1em;
      height: 1.8em;
      width: 250px;
    }
  }
} */